body,div{margin:0;border:0;padding:0;}
#search{
	width:100%; height:10%;position:static;padding:10;display: inline;
}
#map{
	width:70%;height:90%; float:left; overflow:hidden;
}
#allmap{
	height:100%;padding:0;
}
#info{
	width:30%;height:85%;float:right;overflow-y:auto;
}
.anchorBL{
	display:none;
}
li{
	overflow:hidden;
}
#smallmap{
	width:500;height:500;
}
#head-form{
	text-align: center;
}
.infosize{
	text-align: right;
}
.infowindow{
	width:500;height:300;
}
#statistics-body{
	width:900;height:550;
}
.dropdown-menu{
	padding-left: 15;
}
.aircode{
	font-size: 30px;
}